 ---
 ---

@import "{{ site.theme }}";

summary, details{
    display:inline;
}

a, summary{
    color:#267CB9;
    text-decoration:none;
}

a:hover, a:focus, details:hover summary, details:focus summary, details[open] summary {
    color:#069;
    font-weight:bold;
}

summary::-webkit-details-marker {
  display: none
}
